/* ==========================================================================
   404 PAGE
   ========================================================================== */
	.page-404 {
		padding: 40px 0;
	}

	.page-404 > .col:first-child{
			text-align: left;

			span{
				font-size: 250px;
				line-height: 250px;
				display: inline-block;
				color: #eee;
				text-align: left;
				padding-right: 20px;
			}

			span:before{
				text-align: left;
				margin: 0;
			}
	}

	.page-404 h1 {
		font-size: 100px;
		line-height: 140px;
	}